.aggregateColumn {
    background-color: #eef1ef;
    font-weight: bold;
}

.group-row {
    border-bottom: 1px solid #67d060;
    overflow: hidden;
    width: 100%;
    padding: 15px 10px;
}

.group-panel {
    width: 200px;
    float: left;
    height: 100%;
}

.group-table-container {
    overflow: hidden;
}

    .group-table-container > table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        position: relative;
    }

    

    .group-table-container table tr {
        border-bottom: 1px solid #d8d6d6;
        border-top: 1px solid #d8d6d6;
    }

    .group-table-container table td {
        padding: 5px 5px;
        text-align: right;
    }

        .group-table-container table td.name-column {
            width: 150px;
            text-align: left;
            color: #808080;
        }

.totalsDiv {
    background-color: #f7fff2;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #8AC007;
}

.revenueForecastTableDiv {
    font-family: Arial;
    margin: 10px;
}

img.toggleImage {
    cursor: pointer;
}

.buttons-panel {
    margin: 10px;
}

.node-title {
    font-weight: bold;
    cursor: pointer;
}

.childrenCountLabel {
    color: #808080;
    font-size: 11pt;
}
